- name: Add MariaDB Helm Chart Repo
  kubernetes.core.helm_repository:
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    name: "{{ helm.mariadb.name }}"
    repo_url: "{{ helm.mariadb.repo_url }}"

- name: Deploy MariaDB Operator CRDs
  kubernetes.core.helm:
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    release_state: present
    release_namespace: "{{ helm.mariadb.crds.release_namespace }}"
    release_name: "{{ helm.mariadb.crds.release_name }}"
    chart_ref: "{{ helm.mariadb.crds.chart_ref }}"
    chart_version: "{{ helm.mariadb.version }}"
    wait: true

- name: Deploy MariaDB Operator
  kubernetes.core.helm:
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    release_state: present
    release_namespace: "{{ helm.mariadb.operator.release_namespace }}"
    release_name: "{{ helm.mariadb.operator.release_name }}"
    chart_ref: "{{ helm.mariadb.operator.chart_ref }}"
    chart_version: "{{ helm.mariadb.version }}"
    values: "{{ lookup('template', 'templates/01_mariadb/mariadb-operator.yml') | from_yaml }}"
    wait: true

# Create secret with password for Snipe IT MariaDB user
- name: Create Secret for MariaDB User
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        labels:
          k8s.mariadb.com/watch: ""
        name: snipe-it-user
        namespace: "{{ helm.mariadb.cluster.release_namespace }}"
      data:
        password: "{{ helm.mariadb.cluster.user_password | b64encode }}"

# Deploy MariaDB in namespace
- name: Deploy MariaDB Cluster
  kubernetes.core.helm:
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    release_state: present
    release_namespace: "{{ helm.mariadb.cluster.release_namespace }}"
    release_name:  "{{ helm.mariadb.cluster.release_name }}"
    chart_ref: "{{ helm.mariadb.cluster.chart_ref }}"
    chart_version: "{{ helm.mariadb.version }}"
    values: "{{ lookup('template', 'templates/01_mariadb/mariadb-cluster.yml') | from_yaml }}"
    wait: true

- name: Wait for MariaDB Cluster to be ready
  kubernetes.core.k8s_info:
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    kind: StatefulSet
    name: "{{ helm.mariadb.cluster.release_name }}"
    namespace: "{{ helm.mariadb.cluster.release_namespace }}"
  register: mariadb_cluster
  until: mariadb_cluster.resources[0].status.availableReplicas >= 1
  retries: 30
  delay: 10
