- name: Create Configmap for Snipe IT
  kubernetes.core.k8s:
    wait: true
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    state: present
    definition: "{{ lookup('template', 'templates/02_snipe_it/01_configmap.yml') | from_yaml }}"

- name: Create Secret for Snipe IT
  kubernetes.core.k8s:
    wait: true
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    state: present
    definition: "{{ lookup('template', 'templates/02_snipe_it/02_secret.yml') | from_yaml }}"

- name: Deploy Snipe IT PVC
  kubernetes.core.k8s:
    wait: true
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    state: present
    definition: "{{ lookup('template', 'templates/02_snipe_it/03_pvc.yml') | from_yaml }}"

- name: Deploy Snipe IT App
  kubernetes.core.k8s:
    wait: true
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    state: present
    definition: "{{ lookup('template', 'templates/02_snipe_it/04_deployment.yml') | from_yaml }}"

- name: Deploy Snipe IT Service
  kubernetes.core.k8s:
    wait: true
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    state: present
    definition: "{{ lookup('template', 'templates/02_snipe_it/05_service.yml') | from_yaml }}"

- name: Deploy Snipe IT Ingress
  kubernetes.core.k8s:
    wait: true
    kubeconfig: "{{ kubeconfig.file }}"
    context: "{{ kubeconfig.context }}"
    state: present
    definition: "{{ lookup('template', 'templates/02_snipe_it/06_ingress.yml') | from_yaml }}"
