apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: snipe-it
  name: snipe-it
  namespace: "{{ namespaces.snipe_it }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: snipe-it
  resources:
    requests:
      cpu: 500m
      memory: 250m
  template:
    metadata:
      labels:
        app: snipe-it
    spec:
      containers:
      - image: "{{ snipe_it.image.name }}:{{ snipe_it.image.tag }}"
        name: snipe-it
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: snipe-it
        - secretRef:
            name: snipe-it
      volumes:
      - name: snipe-it-pvc
        persistentVolumeClaim:
          claimName: snipe-it-pvc